<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhanghf.curd.dao.EmployeeDao">
    <resultMap type="com.zhanghf.curd.bean.Employee" id="myDifEmployee">
        <id column="emp_id" property="emp_id"/>
        <result column="emp_name" property="emp_name"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email" />
        <result column="dept_id" property="dept.dept_id"/>
        <result column="dept_name" property="dept.dept_name"/>
    </resultMap>

    <select id="getEmployees" resultMap="myDifEmployee" parameterType="com.zhanghf.curd.bean.Employee">
       select a.emp_id,a.emp_name,a.gender,a.email,a.dept_id,b.dept_id,b.dept_name from tbl_emp a
       join tbl_dept b
    on a.dept_id = b.dept_id

         <trim prefix="where"  suffixOverrides="and">
             <if test="emp_id != 0">
                 a.emp_id = #{emp_id} and
             </if>
             <if test="emp_name != null and emp_name != ''">
                 a.emp_name = #{emp_name} and
             </if>
             <if test="gender != null and gender !=''">
                 a.gender = #{gender} and
             </if>
             <if test="email != null and email != ''">
                 a.email = ${email} and
             </if>
         </trim>

    </select>
</mapper>
